/*---------------Add Task---------------------------*/
.orange-button:hover {
    box-shadow: none;
}

.taskform {
    height: 550px;
    display: flex;
    justify-content: start;
    gap: 100px;
    border-radius: 25px;
    margin-bottom: 70px;
}

.taskform-half {
    /* height: 416px; */
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.input-container {
    /* height: 150px; */
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

.text-area-container {
    height: 168px;
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

.input-title {
    margin-bottom: 5px;
}

.check-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

}


.check-button-container button {
    font-size: 20px;
    font-weight: 400;
}

.add-task-page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-footer-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.urgentprio::after {
    content: url(../assets/icons/priority-hight.svg);
    margin-left: 7px;
}

.urgentprioaktive {
    background-color: #ff3d00;
    color: white;

    &:after{    
        content: url(../assets/icons/priority-highwhite.svg);
        margin: 3px 3px 0 3px;
    }
}

.urgentprioaktive:hover{
    box-shadow: none !important;
    cursor: unset !important;
}


.mediumprio::after {
    content: url(../assets/icons/priority-equal.svg);
    margin-left: 7px;
    margin-bottom: 5px;
}

.mediumprioaktive {
    background-color: #ffa800;
    color: white;

    &:after{    
        content: url(../assets/icons/priority-equalwhite.svg);
        margin: 3px 3px 6px 4px;
    }
}

.mediumprioaktive:hover{
    box-shadow: none !important;
    cursor: unset !important;
}

.lowprio::after {
    content: url(../assets/icons/priority-low.svg);
    margin-left: 7px;
}

.lowprioaktive {
    background-color: #7ae229;
    color: white;

    &:after{    
        content: url(../assets/icons/priority-lowwhite.svg);
        margin: 3px 3px 0 3px;
    }
}

.lowprioaktive:hover{
    box-shadow: none !important;
    cursor: unset !important;
}

.required::after {
    content: "*";
    color: red;
}

.required-info::before {
    content: "*";
    color: red;
}

.required-info {
    font-size: 20px;
}

/*here try dropdown menu contacts*/
.dropdown-check-list-contacts {
    justify-content: unset;
    position: relative;
}

.dropdown-check-list-contacts .anchor {
    position: relative;
    display: inline-block;
    height: 48px;
    width: 422px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 16px;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 20px;
    background-color: white;
}

.dropdown-check-list-contacts .anchor:after {
    position: absolute;
    content: url(../assets/icons/arrow_drop_downaa.svg);
    padding: 5px;
    right: 10px;
    top: 15%;
}

.dropdown-check-list-contacts .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list-contacts ul.items {
    padding: 0;
    display: none;
    margin: 0px;
    border: 1px solid #D1D1D1;
    border-radius: 0 0 10px 10px;
    width: 422px;
    height: auto;
    background-color: white;
    z-index: 30;
}

.dropdown-check-list-contacts ul.items li {
    list-style: none;
    padding: 12px 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 50px;
    align-items: center;
    font-size: 20px;
    font-weight: 400;  
}

.dropdown-check-list-contacts ul.items li label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    width: 95%;
    cursor: pointer;
}

.dropdown-check-list-contacts ul.items li:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.dropdown-check-list-contacts.visible .items {
    display: block;
}

.contactslistassign input {
    position: absolute;
    right: 21px;
    height: auto;
    width: auto;
    cursor: pointer;
    scale: 1.2;
    z-index: 15;
    opacity: 0;
}

.contactslistassign input:hover~.checkmark {
    scale: 1.1;
}

.contactslistassign input:checked~.checkmark {
    content: url(../assets/icons/Checkedbuttonwhite.svg);
    
}

.checkmark {
    content: url(../assets/icons/emptycheckbox.svg);
}

.contactslistassign:has(input:checked){ 
    background-color: #2a3547;
    color: white;
    border-radius: 10px;

    &:hover{
        background-color: #091932 !important;
        color: white;
        border-radius: 10px;
    }
}

.items {
    max-height: 250px;
    overflow-x: auto;
}
  
.contacticon {
    width: 42px;
    height: 42px;
    font-size: 12px !important;
    font-weight: 300 !important;
    color: white !important;
    background-color: lightcoral ;
    border: solid 2px white;
    border-radius: 50%;
    padding: 10px;
}

.d-none {
    display: none !important;
}

.showassignedcontacts {
    padding: 5px 0 0 15px;
    width: 100%;
    height: 40px;
    display: flex;
}

.arrowupanchorinput {
    content: url(../assets/icons/arrow_drop_downaa.svg);
    transform: rotate(180deg);
    position: absolute;
    padding: 5px;
    right: 20px;
    top: 63px;
    cursor: pointer;
}

.showsubtasks {
    width: 422px;
    margin: 0;
}

.subtasksli {
    border: none;
    cursor: default;
    height: auto;
    padding: 10px 8px; 
    width: 80%;
    font-size: 16px; 
    font-weight: 400;
}

.clearsubtask, .addsubtask, .editbutton, .deletebutton {
    padding: 4px;
}

.subtask {
    position: relative;
}

.iconssubtask {
    position: absolute;
    bottom: 29px;
    right: 18px;
    z-index: 4;
    background-color: white;
    
    .clearsubtask {
        content: url(../assets/icons/close.svg);
        height: 22px;
    }
    .addsubtask{
        content: url(../assets/icons/checksubtasks.svg);
        height: 22px;
        border-left: solid 1px lightgrey;
    }
}



@media (max-height:800px) {

    .add-task-page-footer {
        position: sticky;
        bottom: 1px;
        background-color: #f6f7f9;
        padding: 10px 0;
    }

    .maincontent {
        align-items: baseline;
    }
}

@media (max-width:1220px) {

    .taskform {
        flex-direction: column;
        height: auto;
        margin-top: auto;
        gap: unset;
        margin-bottom: 100px;
    }

    .add-task-page-footer {
        position: sticky;
        bottom: 0px;
        background-color: #f6f7f9;
        padding: 10px 0;
    }

    .mobileoff {
        display: none;
    }

    .maincontent {
        align-items: baseline;
    }

    .contentcontainer h1 {
        padding-top: 50px;
    }

    .check-button-container {
        justify-content: space-between;
        width: 100%;
        gap: unset;
    }
}

@media (max-width:825px) {

    .maincontent {
        height: calc(100vh - 80px);
    }

    .contentcontainer {
        margin-top: 80px;
    }

}

@media (max-width:465px) {
    .contentcontainer h1 {
        font-size: 47px;
        padding-left: 5px;
    }

    h2,
    input,
    textarea,
    select {
        font-size: 16px;
        background-position: 95%;
    }

    input,
    .input-container {
        width: 100%;
    }

    .contentcontainer,
    .taskform,
    .taskform-half,
    .text-area-container,
    .text-area-container textarea,
    .input-containe,
    select,
    .dropdown-check-list-contacts .anchor,
    .dropdown-check-list-contacts ul.items {
        width: 100%;
    }

    .required-info, .dropdown-check-list-contacts ul.items li {
        font-size: 16px;
    }

    .add-task-page-footer {
        margin: 0 5px;
    }

    .check-button-container button {
        font-size: 14px;
    }

    .button-empty-small-2 {
        width: 32%;
        height: 40px;
    }

    .arrowupanchorinput {
        top:58px
    }
}