/*---------------Board--------------------------*/

.board-main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 64px;
}

.board-headline {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.board-headline-input-button-container {
    border: 1px solid;
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.category-container-container {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.category-containers {
    border: 1px solid;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 252px;
    height: 244px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 24px;


}

.frame-119 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 220px;
    height: 212px;
}


.labe-board-card-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 10px;
    width: 113px;
    height: 27px;
    background: #0038FF;
    border-radius: 8px;
}

.user-story {
    width: 81px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.frame-114 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 220px;
    height: 65px;
    border-radius: 10px;
}

.title {
    width: 220px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
}

.content {
    width: 220px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
}

.progress {
    position: relative;
    width: 220px;
    height: 16px;
}

.progressbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 128px;
    height: 8px;
    left: 0px;
    top: 4px;
    background: #F4F4F4;
    border-radius: 8px;
}

.filler {
    display: none;
    width: 128px;
    height: 8px;
    background: #4589FF;
    border-radius: 16px;
}

.subtasks {
    position: absolute;
    width: 75px;
    height: 14px;
    left: 139px;
    top: 0px;
    font-size: 12px;
    /* line-height: 120%; */
}

.frame-139 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 83px;
    width: 220px;
    height: 32px;
}

.frame-217 {
    display: flex;
}


.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.circle:nth-child(1) {
    background-color: #8000ff;
}

.circle:nth-child(2) {
    background-color: #ff80ff;
}

.circle:nth-child(3) {
    background-color: #ffbf00;
}


.priority-symbols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

