
/*CONTACT REGISTER*/

.contacts-register {
    height: 100%;
    width: 25%;
    position: fixed;
    font-size: 1vw;
    flex-direction: column;
    background-color: white;
    justify-content: start;
    overflow-y: scroll;
    gap: 30px;
    padding-bottom: 16px;
    filter: drop-shadow(4px 0 6px rgba(0, 0, 0, 0.08));
    z-index: 1;
}

.contacts-register a {
    text-decoration: none;
}

.contacts-register a.active-contact {
    color: lightblue;
}

.register-button-container {
    height: 100px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    z-index: 2;
}

.register-add-button {
    height: 50px;
    width: 90%;
    gap: 16px;
    position: relative;
    z-index: 3;
}

.register-add-button::after {
    content: url(../assets/icons/person_add.svg);
    height: 32px;
    width: auto;
}

/*SCROLLBAR*/

.contacts-register::-webkit-scrollbar {
    width: 24px;
}

.contacts-register::-webkit-scrollbar-track {
    justify-content: center;
    background: white;
    border: 5px solid white;
}

.contacts-register::-webkit-scrollbar-thumb {
    height: 53px;
    width: 14px;
    background-color: #A8A8A8;
    border: 5px solid white;
    border-radius: 10px;
}

/*SINGLECONTACTS*/

.register-letter {
    height: 70px;
    width: 90%;
    font-weight: bold;
    justify-content: start;
    align-items: end;
    gap: 50px;
    padding-bottom: 10px;
    padding-left: 25px;
    border-bottom: 1px solid #A8A8A8;
    padding-left: 50px;
    margin-bottom: 10px;
    filter: drop-shadow(4px 0 6px rgba(0, 0, 0, 0.08));
}

.contact {
    height: 80px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10%;
    margin-left: 30px;
    transition: background-color 0.3s ease;
}

.contact.active-contact {
    background-color: #2A3647;
    color: white;
}

.contact:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.initials {
    height: 45%;
    width: auto;
    aspect-ratio: 1 / 1;
    color: white;
    font-size: 1.5vmin;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 15px;
}

.initials.active-contact {
    border: 3px solid white;
}

.name-mail-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
}

.contact-name {
    text-align: center;
    font-weight: bold;
}

.contact-e-mail {
    text-align: center;
}

.contact-e-mail a {
    text-align: center;
}

/*OPEN CONTACT********************************************************/

.open-contact-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 30%;
}

.open-contact-container a {
    text-decoration: none;
}

.contacts-motto {
    height: 73px;
    width: 60%;
    display: flex;
    gap: 5%;
    padding-left: 5%;
    margin-top: 100px;
}

.seperator-2 {
    height: 100%;
    width: 3px;
    background-color: #29ABE2;
}

.seperator-2-responsive {
    width: 70px;
    height: 3px;
    background-color: #29ABE2;
    margin: 30px 0;
}

.open-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 50px;
    padding-left: 5%;
    margin-top: 50px;
}

.open-contact-headline {
    width: 100%;
    justify-content: start;
    gap: 3%;
}

.open-contact-name-and-icons {
    flex-direction: column;
    align-items: start;
}

.open-contact-initials-container {
    height: 100px;
    width: auto;
    aspect-ratio: 1 / 1;
    font-size: 37px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    border: 1px solid;
}

.open-contact-initials {
    width: 20%;
    border: 1px solid;
}

.open-contact-name-and-icons {
    width: 100%;
    padding: 10px 0;
}

.name {
    font-size: 37px;
    font-weight: bold;
}

.icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    padding: 10px 0;
    cursor: pointer;
}

.edit::before {
    content: url(../assets/icons/edit.svg);
    padding-right: 7px;
}

.delete::before {
    content: url(../assets/icons/delete.svg);
    padding-right: 7px;
}

.phone-and-e-mail-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

/***OVERLAYS*****************************************************/

.overlay {
    height: 55vh;
    width: 64%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    border-radius: 16px;
    z-index: 997;
    transform: translateX(0);
    animation: slideIn 0.5s forwards ease-in-out;
}

.overlay.slide-out {
    animation: slideOut 0.5s forwards ease-in-out;
}

.overlay.fade-out {
    animation: fadeOut 0.3s forwards ease-in-out;
}

/***OVERLAY GENERATED HTML*****************************************************/

.left-container {
    height: 100%;
    width: 40%;
    background-color: #2A3647;
    flex-direction: column;
    align-items: start;
    padding-left: 50px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.seperator-3 {
    height: 3px;
    width: 85px;
    background-color: #29ABE2;
    margin: 30px 0;
    margin-top: 10px;
}

.label {
    color: white;
}

.label-subtext {
    font-size: 25px;
    color: white;
}

.logo {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

.mid-container {
    height: 100%;
    width: 20%;
    background-color: white;
}

.person {
    height: 70%;
    filter: brightness(+7);
}

.input-and-button-container {
    height: 100%;
    width: 40%;
    background-color: white;
    flex-direction: column;
    align-items: start;
    gap: 5%;
}

.close-icon {
    height: 30px;
    width: 30px;
    margin-left: 390px;
    margin-bottom: 50px;
}

.close-icon:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
    cursor: pointer;
}

input {
    width: 90%;
    cursor: pointer;
}

.button-box {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    margin-top: 16px;
}

.cancel-button::after {
    content: url(../assets/icons/close.svg);
}

.create-button {
    width: 200px;
}

.create-button::after {
    content: url(../assets/icons/check.svg);
}

/***SUCCESSFULL CONTACT CREATED MESSAGE*/

.d-none {
    display: none;
}

.successfull-message {
    height: 48px;
    width: 300px;
    background-color: #2A3647;;
    position: absolute;
    left: 40%;
    top: 80%;
    z-index: 999;
    border-radius: 10px;
    color: white;
    transform: translateX(0);
    animation: slideIn 0.5s forwards ease-in-out;
}

.successfull-message.slide-in {
    animation: slideOut 0.5s forwards ease-in-out;
}

.successfull-message.slide-out {
    animation: slideOut 0.5s backwards ease-in-out;
}

/***ANIMATIONS*****************************************************/

@keyframes slideIn {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

/*MOBILE************************************************

@media (max-width:500px) {
    .contacts-slider {
        width: 320px;
    }
    
}


@media (max-width:825px) {
    .contacts-slider {
        width: 100vh;
    }
}


@media (max-width:1024px) {

    .showindesktop {
        display: none;
    }

    .showmobile {
        display: block;
        height: 39px;
        width: 32px;
    }

    header {
        left: 0;
        right: 0;
        height: 80px;
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
        z-index: 99;
    }

    .header-icon-container {
        width: auto;
    }

    nav {
        top: auto;
        right: 0;
        height: 80px;
        width: 100%;
        padding: 0;
        z-index: 99;
    }

    .maincontent {
        margin-top: 0;
        margin-left: 0;
        height: 100vh;
        width: 100vw;
    }

    .nav-links-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        padding-bottom: 0;
    }

    .nav-links-container a {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        width: 80px;
        height: 76px;
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }

    .aktivesheet {
        border-radius: 10px;
        border: solid 1px #091931;
    }
}

@media (max-width:1320px) {
    .seperator-2 {
        display: none;
    }

    .contacts-motto {
        height: auto;
        width: auto;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        margin-top: 109px;
        margin-left: 511px;
        flex-direction: column;
        gap: 11px;
    }

    .contacts-h2 {
        margin: 0px;
    }

    .seperator-2-responsive {
        margin: 0px;
    }
}


@media (min-width:1321px) {
    .seperator-2-responsive {
        display: none;
    }
}
********************************************************/
