.contacts-main {
    background-color: #F6F7F8;
}

.contacts-slider {
    height: 100%;
    width: 456px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: start;
    padding: 16px;
    overflow-y: scroll;
    position: fixed;
    filter: drop-shadow(4px 0 6px rgba(0, 0, 0, 0.08));
}

.add-button {
    width: 352px;
    gap: 16px;
    margin-top: 7px;
    position: sticky;
    top: 10px;
    z-index: 999;
}

.add-button::after {
    content: url(../assets/icons/person_add.svg);
    height: 32px;
    width: auto;
}

.contacts-slider::-webkit-scrollbar {
    width: 24px;
    /* Breite der Scroll-Leiste */
}

.contacts-slider::-webkit-scrollbar-track {
    background: white;
    border: 5px solid white;
}

.contacts-slider::-webkit-scrollbar-thumb {
    height: 53px;
    width: 14px;
    background-color: #A8A8A8;
    /* Farbe des Scroll-Thumbnails */
    border: 5px solid white;
    border-radius: 10px;
}

.contacts-motto {
    height: 73px;
    width: 569px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 109px;
    margin-left: 511px;
    gap: 30px;
}

.seperator-2 {
    height: 70px;
    width: 3px;
    background-color: #29ABE2;
    margin: 30px 0;
}

.seperator-2-responsive {
    width: 70px;
    height: 3px;
    background-color: #29ABE2;
    margin: 30px 0;
}

.contacts-h2 {
    margin-top: 33px;
    font-weight: 500;
    font-size: 27px;
}

/********************************************************************/

@media (max-width:825px) {
    .contacts-slider{
        width: 100vh;
    }
}


@media (max-width:1024px) {

    .showindesktop {
        display: none;
    }

    .showmobile {
        display: block;
        height: 39px;
        width: 32px;
    }

    header {
        left: 0;
        right: 0;
        height: 80px;
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
        z-index: 99;
    }

    .header-icon-container {
        width: auto;
    }

    nav {
        top: auto;
        right: 0;
        height: 80px;
        width: 100%;
        padding: 0;
        z-index: 99;
    }

    .maincontent {
        margin-top: 0;
        margin-left: 0;
        height: 100vh;
        width: 100vw;
    }

    .nav-links-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        padding-bottom: 0;
    }

    .nav-links-container a {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        width: 80px;
        height: 76px;
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }

    .aktivesheet {
        border-radius: 10px;
        border: solid 1px #091931;
    }


}

@media (max-width:1320px) {
    .seperator-2 {
        display: none;
    }

    .contacts-motto {
        height: auto;
        width: auto;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        margin-top: 109px;
        margin-left: 511px;
        flex-direction: column;
        gap: 11px;
    }

    .contacts-h2{
        margin: 0px;
    }

    .seperator-2-responsive {
        margin: 0px;
    }
}


@media (min-width:1321px) {
    .seperator-2-responsive {
        display: none;
    }

}