/************************Help**************************/

.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}
.step-number {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 32px;
}
.step-title {
    font-weight: bold;
    font-size: 20px;
}
.lightblue {
    color: #29abe2;
}
.help-privacy-legal-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.maincontent{
    padding: 64px;
}