/****************************LOG IN************************************/

.login-page-main-container {
    height: 100vh;
    width: 100%;
    background-color: #F6F7F8;
    flex-direction: column;
    padding-bottom: 25px;
}

.log-in-headline {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3% 5%;
}

.log-in-headline a {
    color: black;
    text-decoration: none;
}

.log-in-head-links {
    gap: 30px;
}

.login-container {
    height: 493px;
    width: 652px;
    background-color: white;
    border-radius: 25px;
    flex-direction: column;
    gap: 32px;
    padding: 18px 0;
    margin-top: 50px;
    margin-bottom: 130px;
    box-shadow: 2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.seperator {
    height: 3px;
    width: 170px;
    background-color: #29ABE2;
    margin: 0;
    margin-top: -21px;
}

.checkbox-container {
    height: 24px;
    width: 422px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.button-container {
    gap: 30px;
}

.legal-links-container {
    width: 100%;
    font-size: 16px;
    gap: 50px;
}

.legal-links {
    color: #B6B6B7;
    text-decoration: none;
}

.legal-links:hover {
    font-weight: bold;
    color: #29ABE2;
}

/****************************SIGN UP***********************************/

.sign-up-container {
    height: 630px;
    width: 598px;
    background-color: white;
    border-radius: 30px;
    flex-direction: column;
    gap: 32px;
    padding: 48px 0;
    margin: 50px 0;
    box-shadow: 2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.headtext-and-arrow-container {
    width: 100%;
    padding-right: 16%;
}

.arrow {
    margin-right: 16%;
}

.arrow:hover {
    cursor: pointer;
}

.privacy-link {
    color: #29ABE2;
    font-weight: lighter;
    text-decoration: none;
}

.privacy-link:hover {
    text-decoration: underline;
    font-weight: 600;
}

.d-none {
    display: none;
}

/****************************MOBILE**********************************/

@media(max-width: 825px) {

    .login-container {
        margin-bottom: 20px;
    }

    .log-in-head-links {
        display: none;
    }

    .log-in-head-links-mobile {
        width: 95%;
        display: flex;
        gap: 10%;
        margin-bottom: 20px;
    }

    .log-in-headline {
        padding: 50px 7%;
    }

    .button-container {
        flex-direction: column;
    }

    .button-filled-small {
        width: 177px;
    }
}

@media(max-width: 700px) {

    .sign-up-container {
        width: 95%;
    }

    .login-container {
        width: 95%;
    }

    .login-form {
        width: 100%;
    }

    input {
        width: 95%;
        background-position-x: 95%;
    }

    .log-in-head-links-mobile {
        font-size: 12px;
    }

    .button-filled-small {
        font-size: 12px;
    }

    .checkbox-container {
        width: 95%;
    }

    @media(max-width: 450px) {

        h1 {
            font-size: 46px;
        }
    }

    .seperator {
        width: 100px;
    }

}