.maincontent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    padding-left: 10%;
}

.title {
    gap: 20px;
    display: flex;
    align-items: center;
}

.title b {
    font-size: 61px;
    font-weight: 700;
}

.title span {
    font-size: 27px;
    font-weight: 400;
}

.blueborder {
    border: 1px solid #29ABE2;
    height: 65%;
}

.gretting {
    font-size: 47px;
    font-weight: 500;
}

.user {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

.overwiev-container-box {
    gap: 60px;
}

.number {
    font-size: 64px;
    font-weight: 600;
}

.overwiev-box {
    flex-direction: column;
    width: 560px;
    height: 562px;
    gap: 25px
}

.mediumbox img {
    height: 69px;
    width: 69px;
}

.big {
    width: 100%;
    height: 100%;
    gap: 25px;
}

.medium {
    width: 50%;
    height: inherit;
    gap: 10px;
}

.small p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.medium p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.small {
    width: 33%;
    height: inherit;
}

.smallbox {
    gap: 25px;
    width: 100%;
    height: 100%;
}

.mediumbox {
    gap: 25px;
    width: 100%;
    height: 100%;
}

.box {
    padding: 25px 25px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid rgb(238, 239, 240);
}

.column {
    flex-direction: column;
}

.greyborder {
    border: 1px solid #D1D1D1;
    height: 70%;
}

.urgentdescription b {
    font-size: 21px;
    font-weight: 700;
}

.urgentdescription p {
    font-size: 16px;
    font-weight: 400;
}

.box:hover {
    color: #D1D1D1;
    background-color: #2A3647;
    -webkit-box-shadow: 0px 10px 13px -4px rgba(143,136,143,1);
    -moz-box-shadow: 0px 10px 13px -4px rgba(143,136,143,1);
    box-shadow: 0px 10px 13px -4px rgba(143,136,143,1);
    border-color: #2A3647;
}

.checkcircle {
    background-image: url(../assets/icons/checkcircle.svg);
    height: 69px;
    width: 69px;
    background-repeat: no-repeat;
    background-position: center center;
}

.box:hover .checkcircle {
    background-image: url(../assets/icons/whitecheckcircle.svg);
}

.circlepen {
    background-image: url(../assets/icons/circlepen.svg);
    height: 69px;
    width: 69px;
    background-repeat: no-repeat;
    background-position: center center;
}

.box:hover .circlepen {
    background-image: url(../assets/icons/whitepencircle.svg);
}