/****************************FONTS*************************************************/


/* figtree-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/figtree-v5-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/figtree-v5-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/********************************************************************************/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

/****************************HTML ELEMNT ZENTRIEREN***************************/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************************LINKS*******************************************/

a {
    color: #A8A8A8;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #29ABE2;
    font-weight: bold;
    cursor: pointer;
}

/****************************BUTTONS*******************************************/

.button {
    font-weight: bold;
    border: unset;
    border-radius: 8px;
    color: white;
}

button:hover {
    box-shadow: 0px 5px 2px 0 rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

/****************************SMALL BUTTONS************************************/

.button-filled-small {
    height: 48px;
    width: 110px;
    background-color: #2A3647;
}

.button-filled-small:hover {
    background-color: #29ABE2;
}

.button-empty-small {
    height: 48px;
    width: 110px;
    background-color: white;
    color: black;
    border: 1px solid #2A3647;
}

.button-empty-small:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
}

/****************************LARGE BUTTONS************************************/

.button-filled-large {
    height: 48px;
    width: 177px;
    background-color: #2A3647;
}

.button-filled-large:hover {
    background-color: #29ABE2;
}

.button-empty-large {
    height: 48px;
    width: 177px;
    background-color: white;
    color: black;
    border: 1px solid #2A3647;
}

.button-empty-large:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
}

/****************************TEXT***********************************************/


h1 {
    font-size: 70px;
    margin: 0;
}

p {
    margin: 0;
}

/****************************INPUTS***********************************************/

input {
    height: 48px;
    width: 422px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 21px;
    outline: none;
    cursor: pointer;
}

.input-name {
    background-image: url(../assets/icons/person.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 380px;
}


.input-mail {
    background-image: url(../assets/icons/mail.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 380px;
}


.input-password {
    background-image: url(../assets/icons/lock.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 380px;
}

.login-input-name {
    background-image: url(../assets/icons/person.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 380px;
}

.checkbox {
    height: 24px;
    width: auto;
    cursor: pointer;
}

/*****************************************************************************/

.desktop {
    height: 100vh;
    flex: 1;
    width: 85%;
    display: flex;
    flex-direction: column;
}

main {
    height: 90vh;
    width: 100%;
    background-color: #F6F7F8;
}

.maincontent{
    padding: 64px;
}
/*---------------Board--------------------------*/

.board-main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 64px;
}

.board-headline {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.board-headline-input-button-container {
    border: 1px solid;
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.category-container-container {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.category-containers {
    border: 1px solid;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
}

/*---------------Contacts--------------------------*/

.contacts-main {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.contacts-slider {
    border: 1px solid;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 16px;
}

.big-button {
    width: 80%;
}

.contacts-motto {
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.seperator-2 {
    height: 50px;
    width: 3px;
    background-color: lightblue;
    margin-top: 30px;
}

.contacts-h2 {
    margin-top: 33px;
}

/*---------------Add Task---------------------------*/

.add-task-main {
    height: 95%;
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    border-radius: 25px;
    gap: 10px;
    padding: 25px;
}

.taskform {
    height: 90%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    border-radius: 25px;
}

.taskform-half {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.seperator {
    height: 90%;
    width: 1px;
    background-color: black;
    margin-right: 100px;
}

.check-button-container {
    display: flex;
    gap: 10px;
}

.add-task-page-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-footer-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/************************Help**************************/

.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}
.step-number {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 32px;
}
.step-title {
    font-weight: bold;
    font-size: 20px;
}
.blue-text {
    color: #29abe2;
}
.help-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}